<a href="https://colab.research.google.com/github/hr7git/Data-Analysis-with-Open-Source/blob/main/%EC%98%A4%ED%94%88%EC%86%8C%EC%8A%A4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_5%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 오픈소스 기반 데이터 분석 5강 - 데이터 저장

## 5-1 CSV 형식 저장

In [ ]:
import pandas as pd

data = {
    'student_id': [101, 102, 103, 104, 105],
    'database_score': [85, 76, 92, 63, 88],
    'cloudcomputing_score': [78, 82, 95, 70, 84],
    'python_score': [92, 78, 85, 75, 91],
    'watch_rate': [0.95, 0.87, 0.99, 0.80, 0.93]
}
## DataFrame 생성
df = pd.DataFrame(data)

## CSV 형식 저장
df.to_csv('student_analysis.csv', encoding = 'utf-8', index = False)

## 5-2 JSON 형식 저장

In [ ]:
### 라이브러리 임포트
import json
import pandas as pd

data = {
    "이름": "홍길동",
    "나이": 25,
    "거주지": "서울",
    "관심사": ["프로그래밍", "데이터 분석", "여행"]
}

## json.dump를 이용한 저장
with open('output.json', mode='w', encoding = 'utf-8')as f:
    json.dump(data, f, indent = 4, ensure_ascii=False)
## DataFrame을 이용한 저장
df = pd.DataFrame([data])
df.to_json('output_df.json', orient='records', indent=4, force_ascii=False)

## 5-3 Pandas Dataframe 데이터 추출

In [ ]:
import pandas as pd

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터학", "경영학", "농학", "교육학", "영어영문학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}
df = pd.DataFrame(data)
df

## DataFrame 인덱스 출력
print(df.index)
## DataFrame 컬럼 출력
print(df.columns)
## DataFrame 행 출력
print(df.values.tolist())
print(df.values)
## DataFrame 값 출력
print(df.values.flatten())

RangeIndex(start=0, stop=5, step=1)
Index(['이름', '학년', '학점', '학과', '동아리'], dtype='object')
[['김철수', 1, 4.2, '컴퓨터학', '프로그래밍'], ['이영희', 2, 3.8, '경영학', '독서토론'], ['박민수', 3, 4.5, '농학', '로봇공학'], ['최지훈', 4, 3.9, '교육학', '봉사활동'], ['정소희', 2, 3.5, '영어영문학', '음악감상']]
['김철수' 1 4.2 '컴퓨터학' '프로그래밍' '이영희' 2 3.8 '경영학' '독서토론' '박민수' 3 4.5 '농학'
 '로봇공학' '최지훈' 4 3.9 '교육학' '봉사활동' '정소희' 2 3.5 '영어영문학' '음악감상']

## 5-4 DataFrame 생성 방법

In [ ]:
import pandas as pd
import json

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터공학", "경영학", "전자공학", "의학", "심리학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}

## 딕셔너리, csv, json으로 부터 DataFrame 생성
df1=pd.DataFrame.from_dict(data)
df2=pd.read_csv('students.csv')
df3=pd.read_json('students.json')
## 세가지 방법 결과 비교
print(df1.shape)
print(df2.shape)
print(df3.shape)

(5, 5)
(5, 5)
(5, 5)

## 5-5 DataFrame 저장 방법

In [ ]:
import pandas as pd

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터공학", "경영학", "전자공학", "의학", "심리학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}

## Dataframe 생성
df=pd.DataFrame(data)
## CSV, JSON 형식으로 저장
df.to_csv('studnets_scores.csv')
df.to_json('students_scores.json')
## HTML 형식으로 저장
html_table=df.to_html()
with open('students_scores.html','w')as f:
    f.write(html_table)

## 5-6 실습 시나리오

## 데이터 수집

In [ ]:
import requests

url = "http://apis.data.go.kr/B552584/ArpltnInforInqireSvc/getMinuDustFrcstDspth"
api_key = '6f504962566872373234464e6b594e'

params = {
    'serviceKey': api_key,
    'returnType': 'json',
    'numOfRows': '100',
    'pageNo': '1',
    'sidoName': '서울',
    'ver': '1.0'
}

## 데이터 수집
response = requests.get(url, params=params)

## 호출 성공/실패 출력
print(repsonse.json())

서울시 공공데이타 가져오기

In [19]:
import requests
import pandas as pd
import json

url = 'http://openapi.seoul.go.kr:8088/5a6d4349626a756e35364a70467556/json/energyUseDataSummaryInfo/1/5/2025/01/'
# api_key = '5a6d4349626a756e35364a70467556'

# url = "http://openapi.seoul.go.kr:8088/api_key/json/energyUseDataSummaryInfo/1/5/2025/01/"
# api_key = '6f504962566872373234464e6b594e'

params = {
    'serviceKey': api_key,
    'returnType': 'json',
    'numOfRows': '100',
    'pageNo': '1',
    'sidoName': '서울',
    'ver': '1.0'
}

## 데이터 수집
response = requests.get(url, params=params)

## 호출 성공/실패 출력
print(response.json())
# print(type(response))



# Extract JSON data from the response object
json_data = response.json()

## DataFrame을 이용한 저장
df = pd.DataFrame([json_data])
df.to_json('output_df.json', orient='records', indent=4, force_ascii=False)

{'energyUseDataSummaryInfo': {'list_total_count': 7, 'RESULT': {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'}, 'row': [{'YEAR': '2025', 'MON': '01', 'MM_TYPE': '개인', 'CNT': '1254911', 'EUS': '293836031', 'EUS1': '294950734', 'EUS2': '299856505', 'ECO2_1': '-3567588.5', 'ECO2_2': '-3390415.508', 'GUS': '64743317', 'GUS1': '65640270', 'GUS2': '70129681', 'GCO2_1': '-3112082', 'GCO2_2': '-6224164', 'WUS': '14290250.9', 'WUS1': '14349702.2', 'WUS2': '14658723.9', 'WCO2_1': '-213962.15', 'WCO2_2': '-343069.116', 'HUS': '26079633.15', 'HUS1': '26915271.488', 'HUS2': '28567284.736', 'HCO2_1': '-1661644.962', 'HCO2_2': '-1825469.852831888', 'REG_DATE': '2025-04-01 04:02:46.0'}, {'YEAR': '2025', 'MON': '01', 'MM_TYPE': '공공기관', 'CNT': '2458', 'EUS': '159137367', 'EUS1': '161224118', 'EUS2': '165177059', 'ECO2_1': '-4063221.5', 'ECO2_2': '-4063221.5', 'GUS': '5245062', 'GUS1': '6339106', 'GUS2': '6122197', 'GCO2_1': '-985669.5', 'GCO2_2': '-1971339', 'WUS': '1109496.9', 'WUS1': '1067063.3', 'WUS2': '1048332.2', 'WCO2_1': '51799.15', 'WCO2_2': '155397.45', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-04-01 04:02:46.0'}, {'YEAR': '2025', 'MON': '01', 'MM_TYPE': '공동주택관리소', 'CNT': '3717', 'EUS': '549306970', 'EUS1': '553171963', 'EUS2': '562732975', 'ECO2_1': '-8645499', 'ECO2_2': '-8645499', 'GUS': '12897492', 'GUS1': '13018588', 'GUS2': '14635031', 'GCO2_1': '-929317.5', 'GCO2_2': '-1858635', 'WUS': '19747538.2', 'WUS1': '19813169.6', 'WUS2': '19835823.1', 'WCO2_1': '-76958.15', 'WCO2_2': '-230874.45', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-04-01 04:02:46.0'}, {'YEAR': '2025', 'MON': '01', 'MM_TYPE': '종교단체', 'CNT': '849', 'EUS': '9663487', 'EUS1': '9820536', 'EUS2': '10044709', 'ECO2_1': '-269135.5', 'ECO2_2': '-269135.5', 'GUS': '538785', 'GUS1': '574357', 'GUS2': '665228', 'GCO2_1': '-80898', 'GCO2_2': '-161796', 'WUS': '45011', 'WUS1': '44737', 'WUS2': '44089', 'WCO2_1': '598', 'WCO2_2': '1794', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-04-01 04:02:46.0'}, {'YEAR': '2025', 'MON': '01', 'MM_TYPE': '기업', 'CNT': '19458', 'EUS': '624104890', 'EUS1': '643139445', 'EUS2': '659133378', 'ECO2_1': '-27031521.5', 'ECO2_2': '-27031521.5', 'GUS': '58727315', 'GUS1': '59074550', 'GUS2': '57721631', 'GCO2_1': '342601', 'GCO2_2': '685202', 'WUS': '4215302.2', 'WUS1': '4177674.4', 'WUS2': '4187370.8', 'WCO2_1': '32779.6', 'WCO2_2': '98338.8', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-04-01 04:02:46.0'}]}}

In [ ]:
# 서울시 에코마일리지 에너지사용량 통계정보 Open API를 활용하여 데이터를 수집하시오.
#Python을 사용하여 API를 호출하는 코드를 작성하고, 2015년 1월부터 2024년 12월까지의 개인 유형의 현년 전기, 가스, 수도, 지역난방 에너지 사용량 데이터를 수집하는 프로그램을 작성하시오.

In [27]:
def get_year_months():
    year_months = []
    for year in range(2015, 2024+1):
        for month in range(1,12+1):
            year_months.append(f'{year}{month:02d}')
    return year_months

responses = []

for year_month in get_year_months():
    print(year_month)
print(type(year_month))
# 데이터를 수집하고 responses에 추가

201501
201502
201503
201504
201505
201506
201507
201508
201509
201510
201511
201512
201601
201602
201603
201604
201605
201606
201607
201608
201609
201610
201611
201612
201701
201702
201703
201704
201705
201706
201707
201708
201709
201710
201711
201712
201801
201802
201803
201804
201805
201806
201807
201808
201809
201810
201811
201812
201901
201902
201903
201904
201905
201906
201907
201908
201909
201910
201911
201912
202001
202002
202003
202004
202005
202006
202007
202008
202009
202010
202011
202012
202101
202102
202103
202104
202105
202106
202107
202108
202109
202110
202111
202112
202201
202202
202203
202204
202205
202206
202207
202208
202209
202210
202211
202212
202301
202302
202303
202304
202305
202306
202307
202308
202309
202310
202311
202312
202401
202402
202403
202404
202405
202406
202407
202408
202409
202410
202411
202412
<class 'str'>

In [ ]:
import requests
import pandas as pd


# # url 및 api key 설정
# url = 'http://openapi.seoul.go.kr:8088/5a6d4349626a756e35364a70467556/json/energyUseDataSummaryInfo/1/5/'
# api_key = '5a6d4349626a756e35364a70467556'

http://openapi.seoul.go.kr:8088/sample/xml/energyUseDataSummaryInfo/1/5/2015/1/
http://openapi.seoul.go.kr:8088/sample/xml/energyUseDataSummaryInfo/1/5/%20/%20/
# url 및 api key 설정
url = 'http://openapi.seoul.go.kr:8088/5a6d4349626a756e35364a70467556/json/energyUseDataSummaryInfo/1/5/'
api_key = '5a6d4349626a756e35364a70467556'

# 날짜 범위 잡기
for year in range(2015,2025):
    for month in range(1,13):
        date = f'{year}/{month:02d}'
        new_url = f'{url}{date}'
        response = requests.get(new_url)


# 호출 성공/실패 출력
print(response.json())

data = response.json()['energyUseDataSummaryInfo']['row']
df = pd.DataFrame(data)

print(df)

## 데이터 프레임 생성

In [ ]:
import pandas as pd

## requests로부터 response, body, item 항목 읽기
data = response.json()['response']['body']['items']
df=pd.DataFrame(data)
df['pm25Grade']

## 다양항 형식으로 데이터 저장

In [ ]:
df.to_csv('air_pollution.csv', index=False, encoding='utf-8')

## JSON 형식 데이터 저장
df.to_json('air_pollution.json', indent=4, force_ascii=False)

## EXCEL 형식 데이터 저장
df.to_excel('air_pollution.xlsx', index=False)
## HTML 형식 데이터 저장
df.to_html('air_pollution.html')

# Task
Collect energy usage data for '개인' type from the Seoul Eco-Mileage API for the years 2015 to 2024, covering electricity, gas, water, and district heating, and save the collected data.

## Define api parameters and time range

### Subtask:
Set up the base URL, API key, and define the range of years and months (2015-2024).

**Reasoning**:
Set up the base URL, API key, and define the range of years and months (2015-2024).

In [28]:
url = 'http://openapi.seoul.go.kr:8088/5a6d4349626a756e35364a70467556/json/energyUseDataSummaryInfo/1/5/'
api_key = '5a6d4349626a756e35364a70467556'

def get_year_months():
    year_months = []
    for year in range(2015, 2024+1):
        for month in range(1,12+1):
            year_months.append(f'{year}{month:02d}')
    return year_months

year_months_list = get_year_months()

## Iterate and collect data

### Subtask:
Loop through each year and month in the defined range, make an API call for each period, and collect the responses. Filter the data to only include '개인' type.

**Reasoning**:
Iterate through the generated year-month strings, make API calls, and collect '개인' type records into a list.

In [29]:
all_data = []

for year_month in year_months_list:
    year = year_month[:4]
    month = year_month[4:]
    new_url = f'{url}{year}/{month}/'
    try:
        response = requests.get(new_url)
        response.raise_for_status()  # Raise an exception for bad status codes (4xx or 5xx)
        json_data = response.json()

        # Check if the expected data path exists
        if 'energyUseDataSummaryInfo' in json_data and 'row' in json_data['energyUseDataSummaryInfo']:
            data_rows = json_data['energyUseDataSummaryInfo']['row']
            # Filter for '개인' type and append to all_data
            for row in data_rows:
                if row.get('MM_TYPE') == '개인':
                    all_data.append(row)
        else:
            print(f"Unexpected data structure for {year_month}")

    except requests.exceptions.RequestException as e:
        print(f"Error fetching data for {year_month}: {e}")
    except json.JSONDecodeError:
        print(f"Error decoding JSON for {year_month}")

print(f"Collected {len(all_data)} individual records.")

Collected 83 individual records.

## Process and combine data

### Subtask:
Extract the relevant energy usage data (electricity, gas, water, district heating) from each response and combine it into a single list of records.

**Reasoning**:
Extract the relevant energy usage data from each collected record and organize it into a list of dictionaries with specific keys.

In [30]:
processed_data = []

for record in all_data:
    processed_record = {
        'YEAR': record.get('YEAR'),
        'MON': record.get('MON'),
        'MM_TYPE': record.get('MM_TYPE'),
        'EUS': record.get('EUS'),
        'GUS': record.get('GUS'),
        'WUS': record.get('WUS'),
        'HUS': record.get('HUS')
    }
    processed_data.append(processed_record)

print(f"Processed {len(processed_data)} records.")

Processed 83 records.

## Create dataframe

### Subtask:
Convert the collected and processed data into a pandas DataFrame.

**Reasoning**:
Convert the list of processed data into a pandas DataFrame and display its head and info to verify.

In [31]:
df_energy = pd.DataFrame(processed_data)
print("DataFrame Head:")
display(df_energy.head())
print("\nDataFrame Info:")
df_energy.info()

DataFrame Head:

   YEAR MON MM_TYPE        EUS       GUS           WUS           HUS
0  2015  01      개인  193784708  59133720  12819757.886  22740838.937
1  2015  02      개인  189974230  56487358  12656888.218  18793320.213
2  2015  05      개인  177289769  22060892  13086734.214   1320895.801
3  2015  06      개인  186073153  12677645  14241651.402    294312.634
4  2015  07      개인  165114568   8893640  12083879.038    702863.645

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   YEAR     83 non-null     object
 1   MON      83 non-null     object
 2   MM_TYPE  83 non-null     object
 3   EUS      83 non-null     object
 4   GUS      83 non-null     object
 5   WUS      83 non-null     object
 6   HUS      83 non-null     object
dtypes: object(7)
memory usage: 4.7+ KB

## Clean and format data

### Subtask:
Ensure the data types are correct and the data is in a usable format for analysis.

**Reasoning**:
Convert the relevant columns to their appropriate numeric data types to prepare the DataFrame for analysis.

In [32]:
df_energy['YEAR'] = pd.to_numeric(df_energy['YEAR'], errors='coerce')
df_energy['MON'] = pd.to_numeric(df_energy['MON'], errors='coerce')
df_energy['EUS'] = pd.to_numeric(df_energy['EUS'], errors='coerce')
df_energy['GUS'] = pd.to_numeric(df_energy['GUS'], errors='coerce')
df_energy['WUS'] = pd.to_numeric(df_energy['WUS'], errors='coerce')
df_energy['HUS'] = pd.to_numeric(df_energy['HUS'], errors='coerce')

print("\nDataFrame Info after type conversion:")
df_energy.info()

DataFrame Info after type conversion:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   YEAR     83 non-null     int64
 1   MON      83 non-null     int64
 2   MM_TYPE  83 non-null     object
 3   EUS      83 non-null     int64
 4   GUS      83 non-null     float64
 5   WUS      83 non-null     float64
 6   HUS      83 non-null     float64
dtypes: float64(3), int64(3), object(1)
memory usage: 4.7+ KB

## Save data

### Subtask:
Save the final DataFrame to a file (e.g., CSV or JSON) for future use.

**Reasoning**:
Save the df_energy DataFrame to a CSV and a JSON file as instructed in the subtask.

In [33]:
df_energy.to_csv('seoul_energy_usage_personal.csv', index=False, encoding='utf-8')
df_energy.to_json('seoul_energy_usage_personal.json', orient='records', indent=4, force_ascii=False)

## Summary:

### Data Analysis Key Findings

*   A total of 83 individual energy usage records for the '개인' type were collected from the Seoul Eco-Mileage API for the years 2015 to 2024.
*   The collected data includes energy usage for electricity, gas, water, and district heating for each record.
*   The data was successfully organized into a pandas DataFrame with the columns 'YEAR', 'MON', 'MM\_TYPE', 'EUS', 'GUS', 'WUS', and 'HUS'.
*   The data types for the usage columns ('EUS', 'GUS', 'WUS', 'HUS') and time columns ('YEAR', 'MON') were converted to numeric types for analysis.
*   The final collected and processed data has been saved in both CSV and JSON formats.

### Insights or Next Steps

*   Analyze the collected data to identify trends in individual energy usage over time and across different energy types.
*   Explore potential correlations between energy usage patterns and other factors not included in this dataset (e.g., weather data, economic indicators).